{% load static%}

<section id="" class="section wow">
    <div class="container">
        <div class="heading">
            <span class="icon-logo"><img src="{% static "home/images/konom.png" %}" alt="#"></span>
            <h2>The Specialist Clinic</h2>
        </div>
        <!-- end title -->
        <div class="row">
            <div class="col-md-6">
                <div class="message-box">
                    <h4>What We Do</h4>
                    <h2>Clinic Service</h2>
                    <p class="lead">Health is wealth. A healthy family is a happy Family. Everyone enjoys and cherishes the moments they spend with healthy family members.</p>
                    <p class="lead"> At Konom Medicals, our number one periority is to ensure that you and your loved ones enjoy a healthy life. We care about the totality of your wellbeing. Our services are taylored to suit your medical needs.</p>
                    <a href="#services" data-scroll class="btn btn-light btn-radius btn-brd grd1 effect-1">Learn More</a>
                </div>
                <!-- end messagebox -->
            </div>
            <!-- end col -->
            <div class="col-md-6">
                <div class="post-media wow fadeIn">
                    <img src="{% static "home/images/family.jpg"  %}" alt="" class="img-responsive">
                </div>
                <!-- end media -->
            </div>
            <!-- end col -->
        </div>
        <hr class="hr1">
    </div>
</section>